/* Estilos para el fondo de las secciones */
#inicio {
  background-color: #e0e0e0; /* Cambia el color de fondo para la sección de inicio */
}

#productos {
  background-color: #f5f5f5; /* Cambia el color de fondo para la sección de productos */
}

#equipo {
  background-color: #dcdcdc; /* Cambia el color de fondo para la sección de equipo */
}

#contacto {
  background-color: #cccccc; /* Cambia el color de fondo para la sección de contacto */
}
/* Resetear estilos predeterminados */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header, nav, main, footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #f0f0f0;
  text-align: center;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  padding-top: 50px;
}

section {
  margin-bottom: 40px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

footer {
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0; /* Añade esta línea para que el footer empiece desde el extremo izquierdo */
  right: 0;
  width: 100%; /* Asegura que el footer abarque toda la anchura */
  z-index: 100; /* Asegura que esté por encima de otros elementos si los hay */
}
